# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

__pycache__/
venv/
.env/
.vscode/
*.pyc
*.log
.DS_Store
